@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    transition: all .2s linear;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5em;
    overflow: scroll;
    font-size: 62.5%;
}
body {
    position: relative;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8%;
    height: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
header .logo {
    color: #ea1f33;
    font-size: 30px;
    font-weight: bold;
    
}
header .logo span {
    color: #000;
}
.menu {
    display: flex;
}
.menu li {
    list-style: none;
    margin: 0 15px;
}
.menu li a {
    color: #000;
    font-size: 14px;
}
.menu li a:hover {
    color: #ea1f33;
}
#home {
    margin-top: 50px;
    height: calc(100vh - 50px);
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    position: relative;
    
}
/*scrollbar CSS*/

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #ea1f33;
}
#home .left {
    width: 40%;
}
#home .left h2 {
    font-size: 35px;
    margin-bottom: 10px;
}
#home .left h2 span {
    color: #ea1f33;
}
#home .left p {
    color: #999;
    font-size: 15px;
}
#home .right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home .right img {
    width: 100%;
}
#catalogue {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.title {
    text-transform: uppercase;
    position: relative;
    font-size: 25px;
}
.title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 100%;
    height: 5px;
    background-color: #ea1f33;
    border-radius: 6px;
}
.title:after {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 100%;
    height: 5px;
    background-color: #ea1f33;
    border-radius: 6px;
}
.images {
    margin: 100px auto;
    padding: 0 8%;
}
.images ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.images li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.665%;
    transition: 0.5s;
    height: 300px;
    width: 28%;
    border: none;
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,0.2);
}
.images li div {
    width: 100%;
    height: 80%;
}
.images li div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.images .card span {
    color: #000;
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
    
}

#services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.list_services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 50px auto;
}
.service {
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 20px;
    margin: 20px;
}
.service h3 {
    margin-bottom: 10px;
    font-size: 18px;
}
.service p {
    font-size: 14px;
}
footer {
    background-color: #ea1f33;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    font-size: 14px;
    
}
footer a {
    background-color: #ea1f33;
    color:#fff;
    padding: 0 10px;
    text-align: center;
    margin-top: 8px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.menu_toggle {
    display: none;
}

/*Reponsive CSS*/
@media screen and (max-width:680px) {
    header {  
        padding:  0 10px;
    }
    header .menu {
        display: none;
    }
    header .menu li a {
        font-size: 17px;
    }
    #home {
        padding: 0 10px;
        justify-content: center;
        flex-direction: column;
    }
    #home .left, #home .right {
        width: 100%;
        text-align: center;
    }
    .right {
        margin-top: 20px;
    }
    .images li {
        width: 80%;
        margin: 20px auto;
    }
    #services {
        padding: 0 10px;
    }
    .service {
        width: 82%;
        margin: 20px auto;
    }
     .menu_toggle {
        height: 50px;
        width: 50px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
    }
    .menu_toggle span {
        width: 35px;
        background-color: #ea1f33;
        height: 5px;
        border-radius: 6px;
        transition: 0.5s;
    }
    .menu_toggle span.active {
        width: 0px;
    }
    .menu_toggle::before {
        content: '';
        position: absolute;
        width: 35px;
        background-color: #ea1f33;
        transform: translateY(10px);
        height: 5px;
        border-radius: 6px;
        transition: 0.5s;
    }
    .menu_toggle.active::before {
        width: 28px;
        transform: rotate(45deg);
        
    }
    
    .menu_toggle::after {
        content: '';
        position: absolute;
       
        width: 35px;
        background-color: #ea1f33;
        transform: translateY(-10px);
        height: 5px;
        border-radius: 6px;
        transition: 0.5s;
    }
    .menu_toggle.active::after {
        width: 28px;
        transform: rotate(-45deg);
        
    }
    header .menu.responsive {
        position:absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        z-index: 2;
        background-color: #fff;
       
        
    }
    header .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    
}